'use strict';

/*
  Developed by: Divyansh Kumar 
  Created at: 02-May-2015
  Purpose: To config angular application
*/

<% tmpt_path = "bitcoin-gateway/templates" %>
window.app = angular
  .module('bitcoin-gateway', [
    'ngAnimate',
    'ngAria',
    'ngCookies',
    'ngMessages',
    'ngRoute',
    'ngSanitize',
    'ngTouch',
    'angular-loading-bar',
    'ngNotificationsBar',
    'validation.match',
    'ja.qr',
    'ui.mask'
  ])
  .config(["$routeProvider", function ($routeProvider) {
    $routeProvider
      .when('/', {
        templateUrl: '<%= asset_path "#{tmpt_path}/main.html" %>',
        controller: 'MainController'
      })
      .when('/about', {
        templateUrl: '<%= asset_path "#{tmpt_path}/about.html" %>',
        controller: 'AboutUsController'
      })
      .when('/pricing', {
        templateUrl: '<%= asset_path "#{tmpt_path}/pricing.html" %>',
        controller: 'PricingController'
      })
      .when('/services', {
        templateUrl: '<%= asset_path "#{tmpt_path}/services.html" %>',
        controller: 'ServicesController'
      })
      .when('/why', {
        templateUrl: '<%= asset_path "#{tmpt_path}/why.html" %>',
        controller: 'WhyAPIController'
      })
      .when('/contact', {
        templateUrl: '<%= asset_path "#{tmpt_path}/contact.html" %>',
        controller: 'ContactUsController'
      })
      .when('/signup', {
        templateUrl: '<%= asset_path "#{tmpt_path}/signup.html" %>',
        controller: 'SignUpController',
        resolve: {
          auth: ['AuthService', function(AuthService) {
            return AuthService.mustBeLogout();
          }]
        }
      })
      .when('/email/:notify', {
        resolve: {
          note: ['$route', 'Notify', '$location', '$q', function($route, Notify, $location, $q) {
            // To Show notification message according to notify parameter in url.
            switch($route.current.params.notify) {
              // To show email verified.
              case 'confirmed':
                Notify.success('Email verified', 4000);
                break;
              // To show email verification un-successful.
              case 'unconfirmed':
                Notify.error('Invalid confirmation token', 4000);
                break;
            }
            $location.path('/signin');
          }]
        }
      })
      .when('/signin', {
        templateUrl: '<%= asset_path "#{tmpt_path}/signin.html" %>',
        controller: 'SignInController',
        resolve: {
          auth: ['AuthService', function(AuthService) {
            return AuthService.mustBeLogout();
          }]
        }
      })
      .when('/confirmationRequired', {
        templateUrl: '<%= asset_path "#{tmpt_path}/confirmation_required.html" %>',
        controller: 'ConfirmationRequiredController'
      })
      .when('/forgotPassword', {
        templateUrl: '<%= asset_path "#{tmpt_path}/forgot_password.html" %>',
        controller: 'ForgotPasswordController'
      })
      .when('/resetPassword/:token', {
        templateUrl: '<%= asset_path "#{tmpt_path}/reset_password.html" %>',
        controller: 'ResetPasswordController'
      })
      .when('/profile', {
        templateUrl: '<%= asset_path "#{tmpt_path}/profile.html" %>',
        controller: 'ProfileController',
        reloadOnSearch: false,
        resolve: {
          auth: ['AuthService', function(AuthService) {
            return AuthService.mustBeLogin();
          }],
          accountDetails: ['Profile', function(Profile) {
            return Profile.details();
          }],
          tx_details: ['Profile', function(Profile) {
            return Profile.transaction_details();   
          }]
        }
      })
      .when('/convert', {
        templateUrl: '<%= asset_path "#{tmpt_path}/btc_to_currency.html" %>',
        controller: 'BtcToCurrencyController',
        reloadOnSearch: false,
        resolve: {
          auth: ['AuthService', function(AuthService) {
            return AuthService.mustBeLogin();
          }],
          currencyRate: ['Account', function(Account) {
            return Account.currency_rate();   
          }]
        }
      })
      .when('/receivePayment/:token', {
        templateUrl: '<%= asset_path "#{tmpt_path}/receive_payment.html" %>',
        controller: 'ReceivePaymentController',
        reloadOnSearch: false,
        resolve: {
          transaction: ['Transaction', '$route', function(Transaction, $route) {
            return Transaction.receivePayment($route.current.params.token);
          }]
        }
      })
      .otherwise({redirectTo: '/'});
  }])
  .config(['$locationProvider', function($locationProvider) {
    $locationProvider.html5Mode(true);
  }])
  .config(['$httpProvider', function($httpProvider) {
    $httpProvider.interceptors.push('HeaderTokenInterceptor');
  }])
  .config(['cfpLoadingBarProvider', function(cfpLoadingBarProvider) {
    cfpLoadingBarProvider.includeSpinner = true;
  }])
  .run(['$rootScope', 'AuthService', '$location', function($rootScope, AuthService, $location) {
    $rootScope.qr_label = "<%= ENV['QR_LABEL'] || '' %>";
    if($location.path().match(/receivePayment/))
      AuthService.signOut();
    // register listener to watch route changes
    $rootScope.$on( "$routeChangeStart", function(event, next, current) {
    });
    $rootScope.navBar = { none: -1, home: 0, about: 1, pricing: 2, services: 3, why: 4, contact: 5, signup: 6, signin: 6 , signedIn: 7, profile: 8};
    $rootScope.selectedNavBar = $rootScope.navBar.home;
    AuthService.verify_login();
  }]);
