/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require angular-loading-bar
 *= require ng-notifications-bar
 */

.validation_msg { 
  color: #FE1717;
  font: 13px "Trebuchet MS",Arial,Helvetica,sans-serif,sans-serif;
}

.notifications .notifications-container {
  min-height: 10px;
  line-height: 20px;
  z-index: 1040;
}

#loading-bar .bar{
  background: #EF0F0F;
}