<header id="head" class="secondary"></header>
	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li style="color:#eeeeee;"><a href="/">Home</a></li>
			<li class="active">Convert BTC To USD</li>
		</ol>

		<div class="row">	
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Convert Bitcoin To USD</h1>
				</header>
				
				<div class="col-md-6 col-sm-8">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center" style="color:black;">Convert Bitcoin To USD</h3>
							<p class="text-center text-muted">Lorem ipsum dolor sit amet, adipisicing elit. Quo nulla quibusdam cum doloremque incidunt nemo sunt a tenetur omnis odio. </p>
							<hr>

							<form name="currencyConversion" ng-submit="merchantBankDetails();" novalidate>
								<div class="top-margin">
									<label>Wallet Address</label>
									<input type="text" value="G1F2FG3G4H5J6N66JN7J6N65V5G4HB4J4B4FG" readonly class="form-control">
								</div>

								<div class="top-margin">
									<label>Account Number<span class="text-danger">*</span></label>
									<input type="text" class="form-control"  name="account_number" required ng-model="account_number" ng-pattern="/^[0-9\-]*$/" ng-maxlength="100">
									  <div ng-messages="currencyConversion.account_number.$error" ng-if="currencyConversion.account_number.$dirty && !currencyConversion.$pristine">
									    <div ng-message="required" class="validation_msg">Enter Account Number</div>
									    <div ng-message="pattern" class="validation_msg">Invalid Account Number</div>
									    <div ng-message="maxlength" class="validation_msg">Should be at most 100 digits</div>
									  </div>
								</div>
                

								<div class="top-margin">
									<label>Bank Name<span class="text-danger">*</span></label>
									<input type="text" class="form-control" name="bank_name" ng-model="bank_name" ng-pattern="/^[a-z][a-z ]*$/i" ng-maxlength="255" required>
										<div ng-messages="currencyConversion.bank_name.$error" ng-if="currencyConversion.bank_name.$dirty && !currencyConversion.$pristine">
		                  <div ng-message="required" class="validation_msg">Enter Bank Name</div>
		                  <div ng-message="pattern" class="validation_msg">Invalid Bank Name</div>
		                  <div ng-message="maxlength" class="validation_msg">Should be at most 255 characters</div>
		                </div>
								</div>
								
								<div class="row top-margin">
									<div class="col-sm-6">
										<label>Bank Code<span class="text-danger">*</span></label>
										<input type="text" class="form-control" name="bank_code" ng-model="bank_code" ng-pattern="/^[a-zA-Z0-9]*$/" ng-maxlength="50" required>
										  <div ng-messages="currencyConversion.bank_code.$error" ng-if="currencyConversion.bank_code.$dirty && !currencyConversion.$pristine">
										    <div ng-message="required" class="validation_msg">Enter Bank Code</div>
										    <div ng-message="pattern" class="validation_msg">Invalid Bank Code</div>
										    <div ng-message="maxlength" class="validation_msg">Should be at most 50 characters</div>
										  </div><!-- [a-zA-Z]{4}[a-zA-Z]{2}[a-zA-Z0-9]{2}([a-zA-Z0-9]{3})? -->
									</div>
                  
									<div class="col-sm-6">
										<label>Swift Code<span class="text-danger">*</span></label>
										<input type="text" class="form-control" name="swift_code" ng-model="swift_code" ng-pattern="/^[A-Z0-9]*$/" ng-maxlength="50" required>
										  <div ng-messages="currencyConversion.swift_code.$error" ng-if="currencyConversion.swift_code.$dirty && !currencyConversion.$pristine">
										    <div ng-message="required" class="validation_msg">Enter Swift Code</div>
										    <div ng-message="pattern" class="validation_msg">Invalid Swift Code</div>
										    <div ng-message="maxlength" class="validation_msg">Should be at most 50 characters</div>
										  </div><!-- [A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})? -->
									</div> 
								</div>


								<div class="top-margin">
									<label>Address <span class="text-danger">*</span></label>
									<input type="text" class="form-control" name="address" ng-model="address" ng-maxlength="255" required>
									  <div ng-messages="currencyConversion.address.$error" ng-if="currencyConversion.address.$dirty && !currencyConversion.$pristine">
	                    <div ng-message="required" class="validation_msg">Enter Address</div>
	                    <div ng-message="maxlength" class="validation_msg">Should be at most 255 characters</div>
	                  </div>
								</div>
								
								<div class="row top-margin">
									<div class="col-sm-6">
										<label>City<span class="text-danger">*</span></label>
										<input type="text" class="form-control" name="city" ng-model="city" ng-pattern="/^[a-zA-Z0-9]*$/" ng-maxlength="100" required>
										<div ng-messages="currencyConversion.city.$error" ng-if="currencyConversion.city.$dirty && !currencyConversion.$pristine">
                      <div ng-message="required" class="validation_msg">Enter City</div>
                      <div ng-message="pattern" class="validation_msg">Invalid City</div>
                      <div ng-message="maxlength" class="validation_msg">Should be at most 100 characters</div>
                    </div>
									</div>
																						
									<div class="col-sm-6">
										<label>Country<span class="text-danger">*</span></label>
										<input type="text" class="form-control" name="country" ng-model="country" ng-pattern="/^[a-zA-Z0-9]*$/" ng-maxlength="255" required>
										<div ng-messages="currencyConversion.country.$error" ng-if="currencyConversion.country.$dirty && !currencyConversion.$pristine">
										  <div ng-message="required" class="validation_msg">Enter Country</div>
										  <div ng-message="pattern" class="validation_msg">Invalid Country</div>
										  <div ng-message="maxlength" class="validation_msg">Should be at most 255 characters</div>
									  </div>                  
                  </div>
                </div>

								<div class="top-margin">
									<label>Amount (BTC)<span class="text-danger">*</span></label>
									<input type="text" class="form-control" name="amount" ng-model="amount" ng-pattern="/^(?!0*(\.0+)?$)(\d+|\d*\.\d+)$/" ng-maxlength="255" required>
									<div ng-messages="currencyConversion.amount.$error" ng-if="currencyConversion.amount.$dirty && !currencyConversion.$pristine">
                    <div ng-message="required" class="validation_msg">Enter Amount</div>
                    <div ng-message="pattern" class="validation_msg">Invalid Amount</div>
                    <div ng-message="maxlength" class="validation_msg">Should be at most 255 digits</div>
                  </div>
								</div>
								
                <div class="top-margin">
									<label>Currency</label>
									<input class="form-control" name="currency" ng-model="currency" readonly>
								</div>

								<div class="top-margin">
									<label>Current BTC Rate</label>
									<input type="text" class="form-control" ng-model="currency_rate" readonly name="currency_rate">
								</div>

								<div class="top-margin">
									<label class="checkbox">
                    <input type="checkbox" name="terms" ng-model="terms" check-required>
                    I've read the Terms and Conditions</a>
                  </label>
                  <div ng-messages="currencyConversion.terms.$error" ng-if="currencyConversion.terms.$dirty">
                    <div ng-message="checkRequired" class="validation_msg">Please accept terms and conditions</div>
                  </div>
								</div>
								<hr>
	
								<div class="col-lg-12 text-center">
									<button class="btn btn-action" ng-disabled="!enableConvertBtn" type="submit">Convert</button>
								</div>
								</div>
							</form>
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->


	