	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Confirmation</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Confirmation</h1>
				</header>
				<div style="background-color:#ffffff; opacity: 0.9;">
				<div class="col-md-6 c col-sm-6 ">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center" style="color:black;">Email Confirmation</h3>
							<p class="text-center text-muted">You have just been sent an email to confirm your email address. Please click on the link in this email to confirm your registration. </p>
							<hr>
							<p class="text-center text-muted">Please click on below resend button if you didn't get email	</p>
							<form name="resendEmail" ng-submit="resend();" novalidate>
								<input type="text" class="form-control" name="email" ng-model="email" required ng-pattern="/^([A-za-z0-9._-]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})$/i" ng-maxlength="255">
								<div ng-messages="resendEmail.email.$error" ng-if="resendEmail.email.$dirty && !resendEmail.$pristine">
                  <div ng-message="required" class="validation_msg">Enter email</div>
                  <div ng-message="pattern" class="validation_msg">Invalid email</div>
                  <div ng-message="maxlength" class="validation_msg">should be at most 255 characters</div>
                </div>
								<br>
								<p class="text-center text-muted">
									<button class="text-center btn btn-action btn-lg" ng-disabled="!enableResendConfirmationBtn">Resend</button>
								</p>
							</form>					
						</div>
					</div>

				</div>
				</div>
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->