  <header id="head" class="secondary"></header>
<!-- container -->
  <div class="container">

    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Forgot Password</li>
    </ol>

    <div class="row">
      
      <!-- Article main content -->
      <article class="col-xs-12 maincontent">
        <header class="page-header">
          <h1 class="page-title">Forgot Password</h1>
        </header>
        
        <div class="col-md-6 c col-sm-6 ">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3 class="thin text-center" style="color:black;">Forgot Password</h3>
              <p class="text-center text-muted">Lorem ipsum dolor sit amet, <a href="signup.html" style="color:#428bca;"></a> adipisicing elit. Quo nulla quibusdam cum doloremque incidunt nemo sunt a tenetur omnis odio. </p>
              <hr>
              
              <form name="forgotPassword" ng-submit="forgetPassword();" novalidate>
                <div class="top-margin">
                  <label>Email <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="email" ng-model="email" required ng-pattern="/^([A-za-z0-9._-]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})$/i" ng-maxlength="255">
                  <div ng-messages="forgotPassword.email.$error" ng-if="forgotPassword.email.$dirty && !forgotPassword.$pristine">
                      <div ng-message="required" class="validation_msg">Enter email</div>
                      <div ng-message="pattern" class="validation_msg">Invalid email</div>
                      <div ng-message="maxlength" class="validation_msg">should be at most 255 characters</div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-lg-12 text-center">
                    <button class="btn btn-action" type="submit" ng-disabled="!enableResetBtn">Reset Password</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
        
      </article>
      <!-- /Article -->

    </div>
  </div>  <!-- /container -->