<!-- Header -->
  <header id="head">
    <div class="container">
      <div class="row">
        <h1 class="lead">Boost Your Sales With Market</h1>
        <p class="tagline">Leading Payment Gateway API <a href="http://www.gettemplate.com/?utm_source=progressus&amp;utm_medium=template&amp;utm_campaign=progressus"></a></p>
        <p><a class="btn btn-default btn-lg" href="/why" role="button">MORE INFO</a> <a class="btn btn-action btn-lg" ng-if="!signedIn" role="button" href="/signup">REGISTER NOW</a></p>
      </div>
    </div>
  </header>
  <!-- /Header -->

  <!-- Intro -->
  <div class="container text-center">
    <br> <br>
    <h2 class="thin" style="color:ffffff;">The best place to tell people why they are here</h2>
    <p class="text-muted">
      
    </p>
  </div>
  <!-- /Intro-->
    
  <!-- Highlights - jumbotron -->
  <div class="jumbotron top-space">
    <div class="container">
      
      <h3 class="text-center thin">Why Payment Gateway API?</h3>
      
      <div class="row">
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Highest Conversion Rates </h4></div>
          <div class="h-body text-center">
            <p>Convert the Bitcoin you receive to USD for free!</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Multiple Payment Options </h4></div>
          <div class="h-body text-center">
            <p>You receive a Bitcoin payment. We convert it to US dollars and deposit it into your bank account. </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Go Live Fastest</h4></div>
          <div class="h-body text-center">
            <p>Expand your customer base with BitMerchant. Do Business anywhere around the globe. Bitcoin is the world's first borderless payment network.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Bitcoin To Bitcoin</h4></div>
          <div class="h-body text-center">
            <p>Start accepting bitcoin instantly with easy to use checkout pages, embeddable widgets, plugins, and API.</p>
          </div>
        </div>
      </div> <!-- /row  -->
    
    </div>
  </div>
  <!-- /Highlights -->

  <!-- container -->
  <!--<div class="container">

    <h2 class="text-center top-space">Frequently Asked Questions</h2>
    <br>

    <div class="row">
      <div class="col-sm-6">
        <h3>Which code editor would you recommend?</h3>
        <p>I'd highly recommend you <a href="http://www.sublimetext.com/">Sublime Text</a> - a free to try text editor which I'm using daily. Awesome tool!</p>
      </div>
      <div class="col-sm-6">
        <h3>Nice header. Where do I find more images like that one?</h3>
        <p>
          Well, there are thousands of stock art galleries, but personally, 
          I prefer to use photos from these sites: <a href="http://unsplash.com">Unsplash.com</a> 
          and <a href="http://www.flickr.com/creativecommons/by-2.0/tags/">Flickr - Creative Commons</a></p>
      </div>
    </div> <!-- /row -->

    <!--div class="row">
      <div class="col-sm-6">
        <h3>Can I use it to build a site for my client?</h3>
        <p>
          Yes, you can. You may use this template for any purpose, just don't forget about the <a href="http://creativecommons.org/licenses/by/3.0/">license</a>, 
          which says: "You must give appropriate credit", i.e. you must provide the name of the creator and a link to the original template in your work. 
        </p>
      </div>
      <div class="col-sm-6">
        <h3>Can you customize this template for me?</h3>
        <p>Yes, I can. Please drop me a line to sergey-at-pozhilov.com and describe your needs in details. Please note, my services are not cheap.</p>
      </div>
    </div> <!-- /row -->

    <!--div class="jumbotron top-space">
      <h4>Dicta, nostrum nemo soluta sapiente sit dolor quae voluptas quidem doloribus recusandae facere magni ullam suscipit sunt atque rerum eaque iusto facilis esse nam veniam incidunt officia perspiciatis at voluptatibus. Libero, aliquid illum possimus numquam fuga.</h4>
        <p class="text-right"><a class="btn btn-primary btn-large">Learn more »</a></p>
      </div>

</div>  <!-- /container -->
  
  <!-- Social links. @TODO: replace by link/instructions in template -->
  <section id="social">
    <div class="container">
      <div class="wrapper clearfix">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_linkedin_counter"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        </div>
        <!-- AddThis Button END -->
      </div>
    </div>
  </section>
  <!-- /social links -->