<header id="head" class="secondary"></header>
<div></div>
 <!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Pricing</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<form>
			<article class="col-sm-10 maincontent">
				<header class="page-header">
					<h1 class="page-title">Pricing</h1>
				</header>
				<div class="panel-body" style="background-color:#ffffff; opacity: 0.9;">
				<h3 style="color:black;" class="thin text-left">Ablativus Pretii</h3>
				<p class="text-left text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>

        <h3 style="color:black;" class="thin text-left">Eius consequatur</h3>
        <p class="text-left text-muted">Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa  autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>

				<h3 style="color:black;" class="thin text-left">Fusce auctor</h3>
        <p class="text-left text-muted">Fusce auctor, metus eu ultricies vulputate, sapien nibh faucibus ligula, eget sollicitudin augue risus et dolor. Aenean pellentesque, tortor in cursus mattis, ante diam malesuada ligula, ac vestibulum neque turpis ut enim. Cras ornare. Proin ac nisi. Praesent laoreet ante tempor urna. In imperdiet.</p>

        <h3 style="color:black;" class="thin text-left">Nam ut metus</h3>
        <p class="text-left text-muted">Nam ut metus et orci fermentum nonummy. Cras vel nunc. Donec feugiat neque eget purus. Quisque rhoncus. Phasellus tempus massa aliquet urna. Integer fringilla quam eget dolor. Curabitur mattis. Aliquam ac lacus. In congue, odio ut tristique adipiscing, diam leo fermentum ipsum, nec sollicitudin dui quam et tortor. Proin id neque ac pede egestas lacinia. Curabitur non odio.</p>
        
        <h3 style="color:black;" class="thin text-left">Eum quasi</h3>
				<p class="text-left text-muted">Eum, quasi, est, vitae, ipsam nobis consectetur ea aspernatur ad eos voluptatibus fugiat nisi perferendis impedit. Quam, nulla, excepturi, voluptate minus illo tenetur sint ab in culpa cumque impedit quibusdam. Saepe, molestias quia voluptatem natus velit fugiat omnis rem eos sapiente quasi quaerat aspernatur quisquam deleniti accusantium laboriosam odio id?</p>
				</div>
			</article>
		</form>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<!--aside class="col-sm-4 sidebar sidebar-right">

				<div class="widget">
				<div style="background-color:grey; opacity: 0.8;">
					<h4>Vacancies</h4>
					<ul class="list-unstyled list-spaces">
						<li><a href="">Lorem ipsum dolor</a><br><span class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, laborum.</span></li>
						<li><a href="">Totam, libero, quis</a><br><span class="small text-muted">Suscipit veniam debitis sed ipsam quia magnam eveniet perferendis nisi.</span></li>
						<li><a href="">Enim, sequi dignissimos</a><br><span class="small text-muted">Reprehenderit illum quod unde quo vero ab inventore alias veritatis.</span></li>
						<li><a href="">Suscipit, consequatur, aut</a><br><span class="small text-muted">Sed, mollitia earum debitis est itaque esse reiciendis amet cupiditate.</span></li>
						<li><a href="">Nam, illo, veritatis</a><br><span class="small text-muted">Delectus, sapiente illo provident quo aliquam nihil beatae dignissimos itaque.</span></li>
					</ul>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	

	