<header id="head" class="secondary"></header>
	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li style="color:#eeeeee;"><a href="/">Home</a></li>
			<li class="active">My Profile</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 col-sm-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">My Profile</h1>
				</header>	
				<div class="col-md-10 col-sm-12 col-xs-12">
          <div class="panel panel-primary">
            <div class="panel-heading">  
              <!-- Tabs -->
              <ul class="nav nav-pills" id="myTab">
                <li class="active"><a href="#tab1" data-toggle="tab" ng-click="switchTab($event);">API Details</a></li>
                <li><a href="#tab2" data-toggle="tab" ng-click="switchTab($event);">Authentication For Key Details</a></li>
                <li><a href="#tab3" data-toggle="tab" ng-click="switchTab($event);">Transaction Detail</a></li>
              </ul>
            </div>
                <div class="panel-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                    	<div class="panel panel-default">
							          <div class="panel-body">
												<h3 class="thin text-center" style="color:black;">Integrate API to your web application</h3>
												<p class="text-center text-muted">Please follow below instruction to integrate our API to your web application.</p>
								        <hr>
								        <form class="col-sm-12">
													<div class="row top-margin">
														<div class="col-sm-12 ">
											        <span id="copytext" style="height:150;width:162;background-color:;">
		                                    API Lorem ipsum dolor sit amet, adipisicing elit. Quo nulla quibusdam cum doloremque incidunt nemo sunt a tenetur omnis odio.<br/><br/>
		                          </span>
		                          <textarea id="holdtext" style="display:none;">
		                          </textarea>
		                          <button class="btn btn-action" onClick="ClipBoard();">Copy to Clipboard</button>       
											      </div>
									        </div>
								        </form>
								        </div>
					            </div>
				            </div>

                    <div class="tab-pane" id="tab2"><div class="panel panel-default">
						          <div class="panel-body">
												<h3 class="thin text-center" style="color:black;">Key Details</h3>
												<p class="text-center text-muted">API Lorem ipsum dolor sit amet, adipisicing elit. Quo nulla quibusdam cum doloremque incidunt nemo sunt a tenetur omnis odio. </p>
												<hr>
												<form class="col-sm-12">
												<div class="row top-margin">
													<div class="col-sm-12 ">
														<label>API Token</label>
														<input type="text" class="form-control" ng-model="apiToken" readonly="readonly">
													</div>
													<div>&nbsp;</div>
													<div class="col-sm-12 ">
														<label>Secret key</label>
														<div class="input-group">
												      <input type="password" class="form-control" ng-model="secretKey" readonly="readonly">
												      <span class="input-group-btn">
												        <button class="btn btn-action" type="button" ng-click="toggleType($event);">Show</button>
												      </span>
												    </div>
													</div>
												</div>
											</div>
										  </div>
				            </div>
  <!-- ======================= Transaction Details Start ==================================== -->
                    <div class="tab-pane" id="tab3">
                    	<div class="panel panel-default">
						          <div class="panel-body">
												<h3 class="thin text-center" style="color:black;">Transaction Details</h3>
												<p class="text-center text-muted">API Lorem ipsum dolor sit amet, adipisicing elit. Quo nulla quibusdam cum doloremque incidunt nemo sunt a tenetur omnis odio. </p>
												<hr>
								        <form class="col-sm-12">
													<div class="row top-margin">
													<div class="col-sm-6">
														<label>Total Amount in Merchant's wallet (BTC)</label>
														<div class="input-group">
															<input type="text" class="form-control" disabled="disabled" value ="{{total_amount}}">
															<span class="input-group-btn">
													      <button class="btn btn-action" type="button" ng-disabled="!enableAmountRefreshBtn" ng-click="getTotalAmount();">Refresh</button>
													    </span>
													  </div>
													</div>
													<div class="col-sm-6" style="text-align:center;">
									          <label></label><br/>
									          <button class="btn btn-action" style="width: 100%;" ng-click="select()">Convert Bitcoin to USD</button>
								          </div>
													<div>&nbsp;</div>
													<div class="col-sm-12">
														<label>Transaction History(Last 10 transaction detail)</label>
														<div class="col-sm-12 table-responsive">
															<table class="table table-striped">
						  									<tr>
						  										<th>Sr.No.</th>
						  										<th>Transaction Id</th>
						  										<th>Amount in BTC</th>
						  										<th>Status</th>
						  										<th>Transaction Date</th>
						  									</tr>
						  									<tr ng-repeat="transaction in transactions">
						  										<td>{{$index+1}}</td>
						  										<td>{{transaction.transaction_id}}</td>
						  										<td>{{transaction.amount_in_btc}}</td>
						  										<td>{{transaction.status}}</td>
						  										<td>{{transaction.created_at | date : 'MMM d, y'}}</td>
						  									</tr>	  									
						  								</table>
						                </div>
					                </div>		
												  </div>								
												</div>							
								        </form>
						          </div>
					          </div>
                  </div>
  <!-- ======================= Transaction Details End ==================================== -->
                </div>
              </div>
			</article>
			<!-- /Article -->
    </div>
	</div>	<!-- /container -->