  <header id="head" class="secondary"></header>
<!-- container -->
  <div class="container">
    <ol class="breadcrumb">
      <li style="color:#eeeeee;"><a href="/">Home</a></li>
      <li class="active">Payment Detail Page</li>
    </ol>
    <div class="row">
      <!-- Article main content -->
      <article class="col-xs-12 col-sm-12 maincontent">
        <header class="page-header">
          <h1 class="page-title">Payment Detail Page</h1>
        </header> 
        <div class="col-md-8 col-sm-8 col-xs-12 ">
            <div class="panel panel-primary">
                <div class="panel-heading">
                  <!-- Tabs -->
                  <ul class="nav nav-pills">
                    <li class="active"><a href="#tab1" data-toggle="tab" ng-click="switchTab($event)">Bitcoin Payment Through QR Code</a></li>
                    <li><a href="#tab2" data-toggle="tab" ng-click="switchTab($event)">Bitcoin Payment Through GUID</a></li>
                  </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1"><div class="panel panel-default">
            <div class="panel-body">
              <h3 class="thin text-center" style="color:black;">Proceed with transaction</h3>
              <p class="text-center text-muted">API Lorem ipsum dolor sit amet, adipisicing elit. Quo nulla quibusdam cum doloremque incidunt nemo sunt a tenetur omnis odio. </p>
              <hr>
              <div class="col-sm-8">
                <div class="row top-margin">
                <div class="col-sm-12 ">
                  <label>Receiver wallet address</label>
                  <input type="text" class="form-control" disabled="disabled" value="{{transaction.to_address}}">
                </div>
                <div>&nbsp;</div>
                  <div class="col-sm-6">
                    <label>Actual Amount</label>
                    <input type="text" class="form-control" disabled="disabled" value="{{transaction.amount + ' ' + transaction.currency}}">
                  </div>
                  <div class="col-sm-6">
                    <label>Local Currency To BTC</label>
                    <input type="text" class="form-control" disabled="disabled" value="{{transaction.amount_in_btc}}">
                  </div>
                </div>
                <div class="row"> 
                  <div class="col-lg-12">
                      <br/><p style="color:#cccccc;"><b>Note:</b> Please click the confirm button once you transfer the Bitcoin through QR code.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <p>QR Code</p>
                <qr text="qr_code || ''" size="200"></qr>
              </div>
              <hr>
                <div class="row">
                  <div class="col-lg-6 text-right">
                    <hr>
                    <button class="btn btn-action" type="button" ng-click="QRSubmit();" ng-disabled="!enableBtns">Confirm</button>
                  </div>
                  <div class="col-lg-6 text-left">
                    <hr>
                    <button class="btn btn-action" type="button" ng-click="cancel();" ng-disabled="!enableBtns">Cancel</button>
                  </div>
                </div>
                  <div>&nbsp;</div>
           </div>
          </div>
        </div>
        <div class="tab-pane" id="tab2">
          <div class="panel panel-default">
          <form name="GUIDform" ng-submit="GUIDSubmit();" novalidate>
            <div class="panel-body">
              <h3 class="thin text-center" style="color:black;">Proceed with transaction</h3>
              <p class="text-center text-muted">API Lorem ipsum dolor sit amet, adipisicing elit. Quo nulla quibusdam cum doloremque incidunt nemo sunt a tenetur omnis odio. </p>
              <hr>
                <div class="col-sm-6">
                  <label>Receiver wallet address</label>
                  <input type="text" class="form-control" disabled="disabled" value="{{transaction.to_address}}">
                </div>
                <div class="col-sm-6">
                  <label>GUID</label>
                  <input type="text" class="form-control" name="guid" ng-model='guid' ui-mask="********-****-****-****-************" required ng-maxlength="255">
                  <div ng-messages="GUIDform.guid.$error" ng-if="GUIDform.guid.$dirty && !GUIDform.$pristine">
                      <div ng-message="required" class="validation_msg">Enter GUID</div>
                      <div ng-message="maxlength" class="validation_msg">should be at most 255 characters</div>
                  </div>
                </div>
                <div class="col-sm-6">
                <div class="row top-margin">      
                  <div class="col-sm-12">
                    <label>Actual Amount <span class="text-danger"></span></label>
                    <input type="text" class="form-control" disabled="disabled" value="{{transaction.amount + ' ' + transaction.currency}}">
                  </div>
                  <div>&nbsp;</div>
                  <div class="col-sm-12">
                    <label>Local Currency To BTC <span class="text-danger"></span></label>
                    <input type="text" class="form-control" disabled="disabled" value="{{transaction.amount_in_btc}}">
                  </div>
                </div>        
              </div>
              <div class="col-sm-6">
                <div class="row top-margin">
                    <div class="col-sm-12">
                      <label>GUID Primary Password<span class="text-danger"></span></label>
                      <input type="password" class="form-control" name="primary_password" ng-model='primary_password' required ng-maxlength="255">
                      <div ng-messages="GUIDform.primary_password.$error" ng-if="GUIDform.primary_password.$dirty && !GUIDform.$pristine">
                        <div ng-message="required" class="validation_msg">Enter GUID password</div>
                        <div ng-message="maxlength" class="validation_msg">should be at most 255 characters</div>
                      </div>
                    </div>
                    <div>&nbsp;</div>
                  <div class="col-sm-12">
                    <label>GUID Secondary Password<span class="text-danger"></span></label>
                    <input type="password" class="form-control" placeholder="Optional, enter secondary password if you have any...." name="secondary_password" ng-model='secondary_password' ng-maxlength="255">
                    <div ng-messages="GUIDform.secondary_password.$error" ng-if="GUIDform.secondary_password.$dirty && !GUIDform.$pristine">
                      <div ng-message="maxlength" class="validation_msg">should be at most 255 characters</div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="row"> 
            <div class="col-lg-12 text-center">
              <hr>
              <p style="color:#cccccc;"><b>Note:</b> Please click the confirm button once you transfer the Bitcoin through QR code.</p> 
            </div>                     
          </div>
          <div class="row">
            <div class="col-lg-6 text-right">
              <hr>
              <button class="btn btn-action" ng-disabled="!enableBtns" type="submit">Confirm</button>
            </div>
            <div class="col-lg-6 text-left">
              <hr>
              <button class="btn btn-action" type="button" ng-click="cancel();" ng-disabled="!enableBtns">Cancel</button>
            </div>
          </div>
          <div>&nbsp;</div>
          </form>
        </div>
      </div>
    </div>
  </div> 
</article>
    <!-- /Article -->
</div>
</div>  <!-- /container -->