	<header id="head" class="secondary"></header>
	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">New Password</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">New Password</h1>
				</header>
				
				<div class="col-md-6 c col-sm-6 ">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center" style="color:black;">New Password</h3>
							<p class="text-center text-muted">Lorem ipsum dolor sit amet, <a href="signup.html" style="color:#428bca;"></a> adipisicing elit. Quo nulla quibusdam cum doloremque incidunt nemo sunt a tenetur omnis odio. </p>
							<hr>
							
							<form name="resetPassword" ng-submit="resetPass();" novalidate ng-init="user = {}">
								<div class="top-margin">
									<label>New Password <span class="text-danger">*</span></label>
									<input type="password" class="form-control" name="password" ng-model='user.password' required ng-pattern="/^[\s]*[\S]+[\S\s]*$/" ng-minlength="10" ng-maxlength="128">
									<div ng-messages="resetPassword.password.$error" ng-if="resetPassword.password.$dirty && !resetPassword.$pristine">
                      <div ng-message="required" class="validation_msg">Enter password</div>
                      <div ng-message="pattern" class="validation_msg">Please avoid whitespace</div>
                      <div ng-message="minlength" class="validation_msg">should be at least 10 characters</div>
                      <div ng-message="maxlength" class="validation_msg">should be at most 128 characters</div>
                    </div>
								</div>
								<div class="top-margin">
									<label>Confirm New Password <span class="text-danger">*</span></label>
									<input type="password" class="form-control" name="password_confirmation" ng-model='user.password_confirmation' required match="resetPassword.password">
									<div ng-messages="resetPassword.password_confirmation.$error" ng-if="resetPassword.password_confirmation.$dirty && !resetPassword.$pristine">
										<div ng-message="required" class="validation_msg">Enter confirm password</div>
                    <div ng-message="match" class="validation_msg">doesn't match password</div>
                  </div>
								</div>
								<hr>
								<div class="row">
									<div class="col-lg-12 text-center">
										<button class="btn btn-action" type="submit" ng-disabled="!enableChangeBtn">Change</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->