<header id="head" class="secondary"></header>

  <!-- container -->
  <div class="container">

    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Sign up</li>
    </ol>

    <div class="row">
      
      <!-- Article main content -->
      <article class="col-xs-12 maincontent">
        <header class="page-header">
          <h1 class="page-title">Sign up</h1>
        </header>
        
        <div class="col-md-6 col-sm-8">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3 class="thin text-center" style="color:black;">Register a new account</h3>
              <p class="text-center text-muted">Lorem ipsum dolor sit amet, <a href="signin" style="color:#428bca;">Login</a> adipisicing elit. Quo nulla quibusdam cum doloremque incidunt nemo sunt a tenetur omnis odio. </p>
              <hr>

              <form name="signup" ng-submit="merchantRegistration();" novalidate>
                <div class="top-margin">
                  <label>First Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="first_name" ng-model="first_name" required ng-pattern="/^[a-z][a-z ]*$/i" ng-maxlength="255">
                  <div ng-messages="signup.first_name.$error" ng-if="signup.first_name.$dirty && !signup.$pristine">
                      <div ng-message="required" class="validation_msg">Enter first name</div>
                      <div ng-message="pattern" class="validation_msg">Invalid first name</div>
                      <div ng-message="maxlength" class="validation_msg">should be at most 255 characters</div>
                  </div>
                </div>
                <div class="top-margin">
                  <label>Last Name</label>
                  <input type="text" class="form-control" name="last_name" ng-model="last_name" ng-pattern="/^(\s*|[a-z][a-z ]*)$/i" ng-maxlength="255">
                  <div ng-messages="signup.last_name.$error" ng-if="signup.last_name.$dirty && !signup.$pristine">
                      <div ng-message="required" class="validation_msg">Enter last name</div>
                      <div ng-message="pattern" class="validation_msg">Invalid last name</div>
                      <div ng-message="maxlength" class="validation_msg">should be at most 255 characters</div>
                  </div>
                </div>
                <div class="top-margin">
                  <label>Phone Number <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="phone_no" ng-model="phone_no" required ng-pattern="/^[0-9][1-9][0-9]{5,13}$/">
                  <div ng-messages="signup.phone_no.$error" ng-if="signup.phone_no.$dirty && !signup.$pristine">
                      <div ng-message="required" class="validation_msg">Enter phone number</div>
                      <div ng-message="pattern" class="validation_msg">Invalid phone number</div>
                  </div>
                </div>
                <div class="top-margin">
                  <label>Email Address <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="email" ng-model="email" required ng-pattern="/^([A-za-z0-9._-]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})$/i" ng-maxlength="255" unique>
                  <div ng-messages="signup.email.$error" ng-if="signup.email.$dirty && !signup.$pristine">
                      <div ng-message="required" class="validation_msg">Enter email</div>
                      <div ng-message="pattern" class="validation_msg">Invalid email</div>
                      <div ng-message="unique" class="validation_msg">Email already taken</div>
                      <div ng-message="maxlength" class="validation_msg">should be at most 255 characters</div>
                  </div>
                </div>

                <div class="row top-margin">
                  <div class="col-sm-6">
                    <label>Password <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="password" ng-model="password" required ng-pattern="/^[\s]*[\S]+[\S\s]*$/" ng-minlength="10" ng-maxlength="128">
                    <div ng-messages="signup.password.$error" ng-if="signup.password.$dirty && !signup.$pristine">
                      <div ng-message="required" class="validation_msg">Enter password</div>
                      <div ng-message="pattern" class="validation_msg">Please avoid whitespace</div>
                      <div ng-message="minlength" class="validation_msg">should be at least 10 characters</div>
                      <div ng-message="maxlength" class="validation_msg">should be at most 128 characters</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label>Confirm Password <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="password_confirmation" ng-model="password_confirmation" match="signup.password">
                    <div ng-messages="signup.password_confirmation.$error" ng-if="signup.password_confirmation.$dirty && !signup.$pristine">
                      <div ng-message="match" class="validation_msg">doesn't match password</div>
                    </div>
                  </div>
                </div>
                <div class="row top-margin">
                  <div class="col-sm-6">
                    <label>Password For Wallet <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="wallet_password" ng-model="wallet_password" required ng-pattern="/^[\s]*[\S]+[\S\s]*$/" ng-minlength="10" ng-maxlength="128">
                    <div ng-messages="signup.wallet_password.$error" ng-if="signup.wallet_password.$dirty && !signup.$pristine">
                      <div ng-message="required" class="validation_msg">Enter wallet password</div>
                      <div ng-message="pattern" class="validation_msg">Please avoid whitespace</div>
                      <div ng-message="minlength" class="validation_msg">should be at least 10 characters</div>
                      <div ng-message="maxlength" class="validation_msg">should be at most 128 characters</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label>Confirm Password For Wallet <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="wallet_password_confirmation" ng-model="wallet_password_confirmation" match="signup.wallet_password">
                    <div ng-messages="signup.wallet_password_confirmation.$error" ng-if="signup.wallet_password_confirmation.$dirty && !signup.$pristine">
                      <div ng-message="match" class="validation_msg">doesn't match password</div>
                    </div>
                  </div>
                </div>
                <div class="top-margin">
                  <label>Notification URL <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="notification_url" ng-model="notification_url" required ng-pattern="/^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/" ng-maxlength="255">
                  <div ng-messages="signup.notification_url.$error" ng-if="signup.notification_url.$dirty && !signup.$pristine">
                    <div ng-message="required" class="validation_msg">Enter notification url</div>
                    <div ng-message="pattern" class="validation_msg">Invalid notification url</div>
                    <div ng-message="maxlength" class="validation_msg">should be at most 255 characters</div>
                  </div>
                </div>
                <div class="top-margin">
                  <label>Tax Id Number <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="tax_id_no" ng-model="tax_id_no" required ng-maxlength="255">
                  <div ng-messages="signup.tax_id_no.$error" ng-if="signup.tax_id_no.$dirty && !signup.$pristine">
                    <div ng-message="required" class="validation_msg">Enter tax id number</div>
                    <div ng-message="maxlength" class="validation_msg">should be at most 255 characters</div>
                  </div>
                </div>
                <div class="top-margin">
                  <label class="checkbox">
                    <input type="checkbox" name="terms" ng-model="terms" check-required>
                    I've read the Terms and Conditions</a>
                  </label>
                  <div ng-messages="signup.terms.$error" ng-if="signup.terms.$dirty">
                    <div ng-message="checkRequired" class="validation_msg">Please accept terms and conditions</div>
                  </div>
                </div>
                <hr>
                <div class="col-lg-12 text-center">
                  <button class="btn btn-action" ng-disabled="!enableRegistrationBtn" type="submit">Register</button>
                </div>
              </form>
            </div>
          </div>

        </div>
        
      </article>
      <!-- /Article -->

    </div>
  </div>  <!-- /container -->