<header id="head" class="secondary"></header>

  <!-- container -->
  <div class="container">

    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Sign in</li>
    </ol>

    <div class="row">
      
      <!-- Article main content -->
      <article class="col-xs-12 maincontent">
        <header class="page-header">
          <h1 class="page-title">Sign in</h1>
        </header>
        
        <div class="col-md-6 c col-sm-6 ">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3 class="thin text-center" style="color:black;">Sign in to your account</h3>
              <p class="text-center text-muted">Lorem ipsum dolor sit amet, <a href="/signup" style="color:#428bca;">Sign up</a> adipisicing elit. Quo nulla quibusdam cum doloremque incidunt nemo sunt a tenetur omnis odio. </p>
              <hr>
              
              <form name="signin" ng-submit="merchantLogin();" novalidate>
                <div class="top-margin">
                  <label>Email <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="email" ng-model="email" required>
                  <div ng-messages="signin.email.$error" ng-if="signin.email.$dirty && !signin.$pristine">
                      <div ng-message="required" class="validation_msg">Enter email</div>
                  </div>
                </div>
                <div class="top-margin">
                  <label>Password <span class="text-danger">*</span></label>
                  <input type="password" class="form-control" name="password" ng-model="password" required>
                  <div ng-messages="signin.password.$error" ng-if="signin.password.$dirty && !signin.$pristine">
                      <div ng-message="required" class="validation_msg">Enter password</div>
                  </div>
                </div>
                <div class="top-margin">
                  <b><a href="/forgotPassword" style="color:#428bca;">Forgot password?</a></b>
                  <br>
                  <b><a href="/confirmationRequired" style="color:#428bca;">Didn't receive confirmation mail?</a></b>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12 text-center">
                    <button class="btn btn-action" type="submit" ng-disabled="!enableSignInBtn">Sign in</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
        
      </article>
      <!-- /Article -->

    </div>
  </div>  <!-- /container -->