<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Payment Gateway API</title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
  <%= stylesheet_link_tag    'bootstrap.min', "font-awesome.min" %>
  <%= stylesheet_link_tag    'bootstrap-theme', media: 'screen' %>
  <%= stylesheet_link_tag    'main', 'animate', 'custom' %>
  <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>" type="image/x-icon">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <%= stylesheet_link_tag 'html5shiv', 'respond.min' %>
  <![endif]-->
</head>
<body ng-app="bitcoin-gateway" class="home" ng-cloak class="ng-clock">
  <notifications-bar class="notifications"></notifications-bar>
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top headroom" ng-controller="HeaderController">
    <div class="container">
      <div class="navbar-header">
        <!-- Button for smallest screens -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="/">Payment Gateway API</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          <li ng-class="{active: selectedNavBar == navBar.home}"><a href="/" ng-click="toggleNav()">Home</a></li>
          <li ng-class="{active: selectedNavBar == navBar.about}"><a href="/about" ng-click="toggleNav()">About Us</a></li>
          <li ng-class="{active: selectedNavBar == navBar.pricing}"><a href="/pricing" ng-click="toggleNav()">Pricing</a></li>
          <li ng-class="{active: selectedNavBar == navBar.services}"><a href="/services" ng-click="toggleNav()">Services</a></li>
          <li ng-class="{active: selectedNavBar == navBar.why}"><a href="/why" ng-click="toggleNav()">Why Payment Gateway API</a></li>
          <li ng-class="{active: selectedNavBar == navBar.contact}"><a href="/contact" ng-click="toggleNav()">Contact</a></li>
          <li ng-class="{active: selectedNavBar == navBar.profile}" ng-if="signedIn"><a href="/profile" class="btn" ng-click="toggleNav()">My Profile</a></li>
          <li ng-class="{active: selectedNavBar == navBar.signup}" ng-if="!signedIn"><a class="btn" href="/signin" ng-click="toggleNav()">SIGN IN / SIGN UP</a></li>
          <li ng-class="{active: selectedNavBar == navBar.signedIn}" ng-if="signedIn"><a class="btn" ng-click="toggleNav();signOut();">Sign Out</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div> 
  <!-- /.navbar -->
<%= yield %>

  <footer id="footer" class="top-space">

    <div class="footer1">
      <div class="container">
        <div class="row">
          
          <div class="col-md-3 widget">
            <h3 class="widget-title">Contact</h3>
            <div class="widget-body">
              <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?
              </p>  
            </div>
          </div>

          <div class="col-md-3 widget">
            <h3 class="widget-title">Follow me</h3>
            <div class="widget-body">
              <p class="follow-me-icons">
                <a href=""><i class="fa fa-twitter fa-2"></i></a>
                <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                <a href=""><i class="fa fa-github fa-2"></i></a>
                <a href=""><i class="fa fa-facebook fa-2"></i></a>
              </p>  
            </div>
          </div>

          <div class="col-md-6 widget">
            <h3 class="widget-title">Text widget</h3>
            <div class="widget-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
              <p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>
            </div>
          </div>

        </div> <!-- /row of widgets -->
      </div>
    </div>

  <div class="footer2">
      <div class="container">
        <div class="row">
          
          <div class="col-md-6 widget">
            <div class="widget-body">
              <p class="simplenav">
                <a href="/">Home</a> | 
                <a href="/about">About</a> |
                <a href="/contact">Contact</a> <span ng-if="!signedIn">|
                <b><a href="/signup">Sign up</a></b></span>
              </p>
            </div>
          </div>

          <div class="col-md-6 widget">
            <div class="widget-body">
              <p class="text-right">
                Copyright &copy; 2015<a href="" rel="designer"></a> 
              </p>
            </div>
          </div>

        </div> <!-- /row of widgets -->
      </div>
    </div>

  </footer> 
  <script src="https://maps.googleapis.com/maps/api/js?key=&amp;sensor=false&amp;extension=.js"></script>
</body>
</html>
